$blue: #56bbf9;

body {
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

a, h2 {
  color: $blue;
}

.red {
  background-color: red;
}

.blue {
  background-color: $blue;
}

.black {
  background-color: black;
}

.nav-center {
  a {
    margin: 0 10px;
    text-decoration: none;
  }
}

.header-text-uline {
  border-bottom: 2px solid lightgrey;
  > div {
    width: 35%;
    margin: auto;
    margin-bottom: -2px;
    height: 2px;
  }
}

section {
  padding: 20px;
}

#intro {
  background-color: black;
  height: 500px;
  padding: 0;
  display: flex;
  > div {
    width: 100%;
    &:first-child {
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:last-child {
      background-color: $blue;
      font-size: 7.5em;
      padding: 0 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      > div > div {
        &:last-child {
          color: white;
        }
      }
    }
  }
}

.diamond {
  width: 250px;
  height: 250px;
  transform: rotate(-45deg);
  border: 2px solid $blue;
  overflow: hidden;
}

.pic {
  background-image: url('../img/me.jpg');
  background-size: cover;
  width: 350px;
  height: 350px;
  margin: -50px;
  transform: rotate(45deg);
}

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.about-item {
  display: flex;
  width: 50%;
  margin: 10px 0px;
  .img-container {
    min-width: 150px;
    img {
      max-width: 150px;
    }
  }
  .text-container {
    margin: 0px 50px;
  }
}

#parallax {
  background-image: url('../img/yousef.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-size: cover;
  position: relative;
  padding: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
  }
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-item {
  width: 33.33%;
  position: relative;
  img {
    width: 100%;
  }
  > div {
    border: 2px solid $blue;
    margin: 10px;
    position: relative;
    > div {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0);
      position: absolute;
      top: 0;
      transition: 0.4s all ease;
      color: rgba(255,255,255,0);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      &:hover {
        background-color: rgba(0,0,0,0.8);
        color: rgba(255,255,255,1);
        cursor: pointer;
      }
    }
  }
}

#skills {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons {
  a {
    margin: 10px;
    color: black;
    &:hover {
      color: $blue;
    }
  }
}
